@import 'variables';

h1{
    color: $red-color;
}
h2{
    color: green;
}
.card-course-items{
    margin-top: 16px;
}

.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 20%;
    margin-right: 4px;
}