<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>Online courses</a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            role='button'
            data-toggle='dropdown'
            aria-expanded='false'
          >
            <img
              src='https://p9-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/51e2673dfe39926a86b75dae97dbfc77.jpeg?lk3s=a5d48078&nonce=21115&refresh_token=54591f2ce09329aeca79007edf73057a&x-expires=1718024400&x-signature=SmZID4Bg2YI7MtXHQq1flhndfhw%3D&shp=a5d48078&shcp=81f88b70'
              alt=''
              class='user-avatar'
            />
            Thanh Tú
          </a>
          <div class='dropdown-menu'>
            <a class='dropdown-item' href='/courses/create'>Đăng khóa học</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='#'>Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>